<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <title>Title Page</title>
    <link
      rel="stylesheet"
      href="/assets/css/style.css">
  </head>
  <body class="flex min-h-screen flex-col bg-gray-100">
    <div class="flex-grow">
      {{template "header" .}}
      <div class="container mx-auto py-14">{{template "page" .}}</div>
    </div>
    {{template "footer" .}}
  </body>
</html>
