{{define "page"}}
<div class="flex flex-col flex-wrap max-w-sm mx-auto justify-center py-12">
  <h1 class="text-center mb-8 text-4xl">Забыли пароль?</h1>
  <p class="mb-5 text-center text-sm text-gray-600 pb-4">
    Для восстановления пароля введите адрес вашей почты.
  </p>
  <div class="rounded bg-white p-8 shadow">
    <form action="/forgot-pw" method="post">
      <p class="hidden">
        {{csrfInput}}
      </p>
      <p class="my-2">
        <label for="email" class="text-sm font-bold text-gray-800">Почта</label>
        <input
          id="email"
          class="mt-1 w-full rounded border border-gray-300 px-3 py-2 text-gray-800 placeholder-gray-500"
          type="text"
          name="email"
          {{if and .Data .Data.Email}}value="{{.Data.Email}}"{{end}}
          placeholder="Введите почту"
          required
          autofocus
        >
      </p>
      <p class="mt-5">
        <button
          class="w-full rounded bg-cyan-700 p-2 text-lg font-bold text-white transition-colors hover:bg-cyan-800"
          type="submit"
        >
          Сбросить пароль
        </button>
      </p>
      <div class="mt-5 flex w-full justify-between">
        <p class="text-xs text-gray-500">
          Нет аккаунта?
          <a class="underline hover:no-underline" href="/signup">Создать</a>
        </p>
        <p class="text-xs text-gray-500">
          <a class="underline hover:no-underline" href="/signin">Вспомнили свой пароль?</a>
        </p>
      </div>
    </form>
  </div>
</div>
{{end}}
