{{define "page"}}
<h1 class="mb-10 text-4xl">Редактирование галереи</h1>

<div class="max-w-md">
  <form
    class="group"
    method="post">
    <p class="hidden">{{csrfInput}}</p>
    <p class="my-2">
      <label
        class="text-sm font-bold text-gray-800"
        for="title"
        >Заголовок</label
      >
      <input
        class="mt-1 w-full rounded border border-gray-300 px-3 py-2 text-gray-800 placeholder-gray-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer"
        id="title"
        maxlength="255"
        minlength="3"
        name="title"
        placeholder="Введите заголовок галереи"
        required
        type="text"
        {{if
        and
        .Data
        .Data.Title}}value="{{.Data.Title}}"
        {{else}}autofocus{{end}}>
      <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
        Названия галереи должно быть не менее 10 и не более 255 символов
      </span>
    </p>
    <p class="flex gap-x-5 mt-5">
      <button
        class="rounded bg-cyan-700 px-6 py-2 text-md font-bold text-white transition-colors hover:bg-cyan-800 group-invalid:pointer-events-none group-invalid:opacity-30"
        formaction="/gallery/{{.Data.ID}}/edit"
        type="submit">
        Обновить
      </button>

      <button
        class="rounded bg-red-700 px-6 py-2 text-md font-bold text-white transition-colors hover:bg-red-800 group-invalid:pointer-events-none group-invalid:opacity-30"
        formaction="/gallery/{{.Data.ID}}/delete"
        onclick="return confirm('Вы точно хотите удалить эту галерею?')"
        type="submit">
        Удалить
      </button>
    </p>
  </form>
</div>

<div class="my-8">
  <h2 class="mb-4 font-semibold text-gray-800">Список изображений</h2>
  <div class="py-2 grid grid-cols-9 gap-5">
    {{range .Data.Images}}
    <div class="h-[150px] w-[150px] relative group">
      <img
        alt=""
        class="w-full h-full object-cover"
        loading="lazy"
        src="/gallery/{{.GalleryID}}/images/{{.FileName}}">
      <form
        action="/gallery/{{.GalleryID}}/images/{{.FileName}}/delete"
        method="post"
        onsubmit="return confirm('Вы точно хотите удалить этот изображение?')">
        {{csrfInput}}
        <button
          class="absolute invisible group-hover:visible flex items-center justify-center text-white top-[-5px] right-[-5px] w-[20px] h-[20px] rounded-full bg-red-600 hover:bg-red-700 transition-all shadow-md"
          type="submit">
          <svg
            class="w-[15px] h-[15px]"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6 18 18 6M6 6l12 12"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
      </form>
    </div>
    {{end}}
  </div>
</div>
{{end}}
