{{define "page"}}
<h1 class="mb-10 text-4xl">Создать галерею</h1>

<div class="max-w-md">
  <form
    action="/gallery/new"
    class="group"
    method="post">
    <p class="hidden">{{csrfInput}}</p>
    <p class="my-2">
      <label
        class="text-sm font-bold text-gray-800"
        for="title"
        >Заголовок</label
      >
      <input
        .Data
        autofocus
        class="mt-1 w-full rounded border border-gray-300 px-3 py-2 text-gray-800 placeholder-gray-500 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer"
        id="title"
        maxlength="255"
        minlength="3"
        name="title"
        placeholder="Введите заголовок галереи"
        required
        type="text"
        {{end}}
        {{if
        }}value="{{.Data}}">
      <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
        Названия галереи должно быть не менее 10 и не более 255 символов
      </span>
    </p>
    <p class="mt-5">
      <button
        class="rounded bg-cyan-700 px-6 py-2 text-md font-bold text-white transition-colors hover:bg-cyan-800 group-invalid:pointer-events-none group-invalid:opacity-30"
        type="submit">
        Создать
      </button>
    </p>
  </form>
</div>
{{end}}
